
@font-face {
    src: url(../fonts/NeoSansArabic.ttf);
    font-family: ar-font;
}

body {
    direction: rtl;
    font-size: 14px;
    font-weight: 500;
    font-family: ar-font;
}


/*************
***********************
*******************************

Style page index

**********
****************
*******************************/


#page__index {
    background-image: url(../images/bg-index.svg);
    background-position: center center;
    background-size: cover;
}

nav.navbar button.navbar-toggler {
    background-color: orange;
    padding: 5px;
    border-radius: 3px;
}

nav.navbar button.navbar-toggler svg {
    color: black;
    margin-top: 4px;
}

nav.navbar .navbar-brand img {
    width: 60%;
}

nav.navbar ul li {
    margin-left: 12px;
}

nav.navbar ul li:hover {
    background-color: rgba(70, 70, 70, 0.8);
    border-radius: 5px;
    transition: all 0.2s ease;

}

nav.navbar ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
    transition: all 0.2s ease;
}

nav.navbar ul li a:hover {
    color: white;
    font-weight: 500;
}

ul.custom-list-group {
    padding: 0;
    margin-top: 25px;
}

ul.custom-list-group li.active {
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 0;
    border-color: orange;
}

ul.custom-list-group li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

ul.custom-list-group li a:hover,
ul.custom-list-group li a:active,
ul.custom-list-group li a:focus {
    color: rgba(0, 0, 0, 0.9);
}

ul.custom-list-group li a svg {
    margin-left: 10px;
}

.content-page .title__welcome h3 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 13px;
    line-height: 35px;
}

.Last-happened {
    background-color: #ffffff;
    display: inline-block;
    padding: 15px 30px;
    border: 1px solid rgba(128, 128, 128, 0.7);
    border-radius: 5px;
    margin-right: 60px;
    padding: 30px;
    margin-top: 20px;
}

.Last-happened span.number_title {
    margin-left: 25px;
    font-size: 20px;
    font-weight: bold;
} 

#bg-tasks {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    margin-top: -120px;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.5);
}

#bg-tasks .title_tasks h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 2px;
    padding-bottom: 12px;
}

#bg-tasks p::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: orange;
    display: inline-block;
    border-radius: 50%;
    margin-left: 6px;
}

#bg-tasks .content_tasks p span,
#bg-tasks .content_tasks p {
    font-size: 16px;
    font-weight: 600;
    margin-left: 2px;
}

#bg-tasks .content_tasks p {
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    padding-bottom: 12px;
}

#bg-tasks .content_tasks p a {
    background-color: wheat;
    float: left;
    text-decoration: none;
    border: 1px solid rgba(128, 128, 128, 0.6);
    border-radius: 2px;
    padding: 5px 10px 5px 10px;
    margin-top: -7px;
    color: black;
    transition: all 0.3s ease;
}

#bg-tasks .content_tasks p a:hover {
    background-color: rgba(255, 68, 0, 0.8);
    color: white;
    font-weight: 500;
}

#bg-msg {
    background-color: rgb(233, 233, 233);
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 15px;
}

.custom-heading-msg {
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 22px;
    font-weight: 600;
}

#bg-msg .card {
    margin-top: 10px;
}

.card .card-body .name_user {
    font-size: 14px;
    font-weight: bold;
    margin-right: 14px;
    margin-left: 3px;
}

.card .card-body .name_user a {
    text-decoration: none;
    color: rgb(3, 145, 180);
    transition: all 0.2s ease;
}

.card .card-body .name_user a:hover,
.card .card-body .name_user a:focus,
.card .card-body .name_user a:active {
   color:  rgb(0, 110, 138);
}

.card .card-body .name_user,
.card .card-body img {
    margin-bottom: 13px;
}

.card .card-body .time {
    font-size: 12px;
    font-weight: 600;
}

.card .card-body p {
    font-size: 15px;
    font-weight: 500;
}

.card .card-body svg {
    margin-left: 3px;
    margin-right: 3px;
}


.Quote-today {
    background-color: rgb(253, 253, 253);
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 25px;
}

.Today_quote h4.custom-heading-quote {
    font-size: 24px;
    font-weight: 600;
    margin-top: 18px;
    margin-bottom: 15px;
    border-bottom: 2px solid rgba(245, 73, 11, 0.6);
    padding-bottom: 10px;
    display: inline-block;
    border-radius: 3px;
}

.Today_quote p {
    font-size: 15px;
    font-weight: 600;
    margin-top: 17px;
}

.Today_quote p::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: orangered;
    display: inline-block;
    margin-left: 5px;
}

.users_customers {
    margin-bottom: 25px;
    background-color: rgb(233, 233, 233);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 25px;
    padding-bottom: 15px;
    border-radius: 5px;
    border: 1px solid black;
}

.users_customers .card {
    margin-top: 8px;
}

.users_customers h4 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 35px;
}

.users_customers .card .card-body img {
    margin-left: 3px;
    margin-top: 8px;
}

.users_customers .card .card-body a {
    text-decoration: none;
}

.users_customers .card .card-body .name__customer {
    font-size: 16px;
    font-weight: 600;
}

.users_customers .card .card-body .usename {
    font-size: 14px;
    font-weight: 600;
}

.users_customers .card .card-body .order__user {
    background-color: orange;
    padding: 3px;
    border-radius: 5px;
    margin-right: -8px;
}

.users_customers .card .card-body .money__order {
    background-color: orange;
    padding: 3px;
    border-radius: 5px;
}

.users_customers .card .card-body .order__user,
.users_customers .card .card-body .money__order {
    float: left;
    font-size: 14px;
    font-weight: 600;
    margin-left: 12px;
    margin-top: 10px;
}

.users_customers .card .custom-card-body,
.Quote-today .custom-card-body,
#bg-msg .custom-card-body {
    padding: 10px;
}

.users_customers .card .custom-card-body a,
.latest_ratings .custom-card-body a,
.Quote-today .custom-card-body a,
#bg-msg .custom-card-body a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: orangered;
    transition: all 0.2s ease;
}

.users_customers .card .custom-card-body a:hover,
.latest_ratings .custom-card-body a:hover {
    color: orange;
}


.latest_ratings {
    background-color: rgb(233, 233, 233);
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 25px;
}

.latest_ratings .custom-heading-latest {
    font-size: 23px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
}

.latest_ratings .card {
    margin-top: 8px;
}

.latest_ratings .card .card-body a {
    text-decoration: none;
}

.latest_ratings .card .card-body img {
    height: 65px;
}

.latest_ratings .title_product {
    font-size: 14px;
    font-weight: bold;
    margin-right: 20px;
}

.latest_ratings .card .card-body p {
    font-size: 16px;
    font-weight: bold;
}

.latest_ratings .card .card-body svg {
    color: gray;
}

.latest_ratings .card .card-body svg.active {
    color: orange;
}

.latest_ratings .custom-card-body {
    padding: 10px;
}

svg.svg-inline--fa.fa-angle-double-left.fa-w-14 {
    color: orangered;
    transition: all 0.3s ease;
}

svg.svg-inline--fa.fa-angle-double-left.fa-w-14:hover {
    color: orange;
}

footer.footer-page {
    padding: 10px;
}

footer.footer-page h5 {
    font-size: 16px;
    font-weight: bold;
}

footer.footer-page h5 a {
    text-decoration: none;
    color: black;
    background-color: orange;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.2s ease;
}

footer.footer-page h5 a:hover {
    color: black;
    background-color: peru;
}


/*************
***********************
*******************************

Style page add-product 

**********
****************
*******************************/

nav ol.breadcrumb li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: all 0.2s ease;
}

nav ol.breadcrumb li a:hover {
    color: orangered;
}

nav ol.breadcrumb li.active {
    font-weight: bold;
}

.breadcrumb-item+.breadcrumb-item::before {
    margin-left: 10px;
}

#custom_footer label {
    font-size: 20px;
    font-weight: bold;
}

#custom_footer .form-group .custom-form-control-1x {
    height: 50px;
}

.custom_text_muted {
    font-size: 12px;
    font-weight: bold;
}

.text-muted {
    color: black !important;
}

#custom_footer .form-group {
    margin-top: 20px;
    margin-bottom: 35px;
}

.title_rating_1X {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.custom-form-control-2x {
    margin-bottom: 35px;
    border-radius: 0;
    border-color: gray;
}

.custom-form-control-2x:focus,
.custom-form-control-2x:active {
    border-color: orange;
}

input.form-control {
    border-radius: 0;
    border-color: gray;
} 

span.input-group-text {
    border-radius: 0;
    border-color: gray;
}

input.form-control:active,
input.form-control:focus {
    border-color: orange;
}

.custom-form-uplaod {
    background-color: rgba(109, 109, 109, 0.8);
    border: 1px solid gray;
    border-radius: 3px;
    padding: 5px;
}

.custom-btn {
    background: khaki;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    border-color: blanchedalmond;
    margin-left: 10px;
    margin-bottom: 35px;
    transition: all 0.3s ease;
}

.custom-btn:hover, .custom-btn:active, .custom-btn:focus {
    background: orange;
    border-radius: 5px;
    color: black;
    border-color: orange;
}

/******
****************
**********************
******************************

RESPONSIVE PAGE.HTML 

********
***********
******************
***********************
**********************************/

@media (min-width: 320px) and (max-width: 575.98px) {

    .Last-happened {
        background-color: #ffffff;
        display: inline-block;
        padding: 10px 5px;
        border: 1px solid rgba(128, 128, 128, 0.7);
        margin-top: 20px;
        margin-right: 10px;
    }

   .small span.number_title {
       font-size: 14px;
       margin-left: 5px;
   }

   .content-page .title__welcome h3 {
       font-size: 18px;
   }

   #bg-tasks {
       margin-top: 10px;
   }

   #bg-tasks .content_tasks p a {
       display: none;
   }

   .card .card-body .time {
    font-size: 9px;
    font-weight: bolder;
}

.users_customers .card .card-body .usename {
    display: none;
}

.latest_ratings .card .card-body p {
    font-size: 14px;
     font-weight: normal; 
     margin-top: 10px;
}

.latest_ratings .title_product {
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}

    /***** page add-products *****/
    li.breadcrumb-item {
        margin-left: -1px;
    }

}
   


@media (min-width: 576px) and (max-width: 767.98px) {

    .col-lg-6.col-md-12.d-none.d-sm-block {
        margin-right: -18px;
    }

    ul.custom-list-group {
        margin-bottom: 65px;
    }

    .small {
        display: block;
        margin-right: 0px;
    }

    /***** ****** Responsive page add-products ****/
    form#custom_footer {
        margin-top: -55px;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {

    .content-page .title__welcome h3 {
        font-size: 22px;
        margin-top: 20px;
        margin-bottom: 25px;
    }

    #bg-tasks {
        margin-top: 5px;
    }
     
    .small {
        display: block;
        margin-left: 222px;
        margin-right: 0;
    }

}

@media (min-width: 992px) and (max-width: 1199.98px) {

    .small {
        display: none;
    }

    .content-page .title__welcome h3 {
        font-size: 17px;
    }

    .Last-happened span.number_title {
        margin-left: 18px;
        font-size: 18px;
        font-weight: normal;
    }

    .Last-happened {
        margin-right: 0;
    }

    .Quote-today {
        padding: 40px 20px;
    }

    .users_customers {
        padding: 84px 30px;
    }

    .users_customers h4 {
        margin-top: -40px;
    }

}

@media (min-width: 1200px) {

    .content-page .title__welcome h3 {
        font-size: 20px;
    }

    .Last-happened {
        margin-right: 0;
    }

    #bg-tasks, .Quote-today, .latest_ratings {
        margin-left: 68px;
    }

    .latest_ratings .card .card-body p {
        font-size: 14px;
    }

    .users_customers {
        padding-left: 18px;
        padding-right: 18px;
    }

    .latest_ratings {
        padding: 16px 10px;
    }

    #bg-msg {
        padding: 10px 20px;
    }

    .small {
        display: none;
    }
}
